header {
position: fixed;
z-index: 999;
top: 0;
left: 0;
right: 0;
height: 70px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 30px;
background: transparent;
transition: all ease 0.5s;
}
header.black {
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(130,9,204,1) 31%, rgba(69,0,112,1) 76%, rgba(36,3,69,1) 100%);
}
.header--user img {
height: 100%;
border-radius: 3px;
}
.header--user {
height: 50px;
}
.header--logo {
height: 30px;
}
.header--logo img {
height: 100%;

}