header {
position: fixed;
z-index: 999;
top: 0;
left: 0;
right: 0;
height: 70px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 30px;
background: transparent;
transition: all ease 0.5s;
}
header.black {
background: rgb(68,0,0);
background: linear-gradient(90deg, rgb(68 0 0 / 92%) 0%, rgb(216 0 0 / 93%) 33%, rgb(255 0 0 / 49%) 65%, rgba(153,0,0,1) 81%);
}
.header--user img {
height: 100%;
border-radius: 3px;
}
.header--user {
height: 50px;
}
.header--logo {
height: 30px;
}
.header--logo img {
height: 100%;

}